SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-or-service-role-key
APP_ENV=development
APP_URL=http://127.0.0.1:8321
GOOGLE_CLIENT_ID=345866171436-4vf8e0hmh33nbh3uji4hsjj5aajo2pqf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
